@use '~@angular/material' as mat;
@import "../material.variables";
@import "../mixins/bi-app/bi-app-ltr";
@import "../app.variables";
@import "../mixins";

.my-drop-zone {
  min-height: 32px;
  margin-bottom: $gutter;
  padding: ($gutter/2);
  border: dashed 1px mat.get-color-from-palette($foreground, divider);
  background-color: white;
  @include rounded($border-radius-base);
}

.app-dark :host {
  .my-drop-zone {
    background: mat.get-color-from-palette($dark-background, card);
  }
}
