@use '~@angular/material' as mat;
body {
  .mat-select-panel {
    background-color: mat.get-color-from-palette($background, card);
  }

  .mat-select-trigger,
  .mat-option {
    font-size: $font-size-base;
  }

  .app-dark .mat-select-panel {
    background-color: mat.get-color-from-palette($dark-background, card);
  }
}
